.App {
  text-align: center;
}
.menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;

  /* background-color: hsl(0, 0%, 100%); */
}
.menu-wrapper-mode {
  display: flex;
  justify-content: center;
}

.main {
  /* background-color: hsl(0, 0%, 98%); */
  display: flex;
  justify-content: center;
}
.dark-mode-background {
  background-color: hsl(207, 26%, 17%);
  color: white;
}
.dark-mode-element {
  background-color: hsl(209, 23%, 22%);
  color: white;
}
.light-mode-background {
  background-color: hsl(0, 0%, 98%);
  color: black;
}
.light-mode-element {
  background-color: hsl(0, 0%, 100%);
}
.content-wrapper {
  /* width: 90%; */
  justify-content: space-between;
}
.search-section-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}
.search-input {
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  /* background-color: hsl(0, 0%, 100%); */
}
.select-input {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: hsl(0, 0%, 100%); */
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 0px 100px; */
  padding: 0px 100px;
}
.country-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: hsl(0, 0%, 100%); */
  width: 20vw;
  margin: 50px 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
div> a:hover {
  color:black;
}
/* .info-wrapper {
  color: white;
} */
.country-link-light-mode {
  text-decoration: none;
  color: black;
}
.country-link-dark-mode {
  text-decoration: none;
  color: white;
}
img {
  width: 100%;
}
.spinner-wrapper {
  position: absolute;
  top: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.country-info {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 100px;
  margin-right: 100px;
  margin: 100px;
}

.country-image-wrapper {
  width: 50%;
}
.country-detail-wrapper {
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.country-info-button {
  margin: 50px 100px;
  border: none;
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
  border-radius: 5px;
}
.country-info-button:hover {
  border: 10px;
}
.country-info-borders-button {
  margin: 5px 10px;
  border: none;
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.country-info-borders-button-link {
  text-decoration: none;
}
.country-info-maingroup {
  display: flex;
}
.country-info-maingroup-left {
  margin-right: 10vw;
}
.country-info-borders {
  display: block;
}
.country-info-label {
  font-weight: bold;
}
