.App {
  text-align: center;
}
.menu-wrapper {
  display: flex;
  justify-content: space-between;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.country-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  width: 300px;
  margin: 20px;
}

img {
  width: 100%;
}
.spinner-location {
  position: absolute;
  top: 400px;
}

/* 
  <div className="country-wrapper">
      <img src={country.flag}></img>
      <h1>{country.name}</h1>
      <div className="info wrapper">
        <h2>Population : {country.population}</h2>
        <h2>Region : {country.region}</h2>
        <h2>Capital : {country.capital}</h2>
      </div>
    </div>
,m,m */
